PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=crowdfunding
DB_USER=postgres
DB_PASSWORD="123456"

JWT_SECRET=your_secret_key

DATABASE_URL=postgresql://postgres.mvbbplnpkhtweeqtncwb:CapstonePass2026@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres